
html {
  font-size: 1vw;
}

body{
  margin:  0px;
}


var{
  display:none; 
}

#topbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #333; 
  z-index : 1;
  margin-bottom: 40px;
}

.topbarbtn {
  border: none;
  background-color: #333; 
  color: white;
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 10px;
  padding-right : 10px;
}

.btnspacies{
  width :  20%;
  padding-top : 20px;
  padding-bottom : 20px;    
  margin-right: 0px;
}
.btnmon{
  width :  20%;
  padding-top : 20px;
  padding-bottom : 20px;
}



@viewport {
  width: device-width ;
  zoom: 1.0 ;
}



/* desktops */
@media (min-width: 1200px) { 

   button {
    font-size: 1rem;
  }
  .header2{
    font-size: 28px;
    padding: 24px;
  }

  #panel-basicinfo{
    padding:4px;
    border-radius : 4px;
    width: 100%;
  }
  .margin{
    margin: 4px;
  }
  .panel-block{
  }
  .panel-block-1{
    border-radius : 5px;
  }
  .panel-block-2{
    border-radius : 5px;
  }
  .panel-block-1 + .panel-block-1{
    margin-left: 4px;
  }
  .panel-block-2 + .panel-block-2{
    margin-left: 4px;
  }
  .panel-text{
     font-size: 14px;
  }
  .panel-text-bold{
     font-size: 14px;
  }
  .panel-text-title{
     font-size: 22px;
  }
  .panel-text-special{
    position: absolute; 
    text-align:right;
     top : 5px;
     right: 10px;
     font-size: 10px;
  }
  

  
  #layer2-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .grid-area-main{    
    grid-column-start: 1;
    grid-row-start: 1; 
    margin: 8px;
  }
  .grid-area-right{
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 8px;
  }
  

  table {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .flexboxrow{
    padding-top: 10px; 
    padding-bottom: 10px; 
  }
  .flexitem{
    border-radius : 8px;
    padding : 8px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .moveimage{
    max-width:640px;
    width:auto;
    height:480;
  }  
  text{
    width:10px; 
    font-size: 16px;
  }
}


/* phones */
@media (max-width: 1199.98px) { 

  h1{
    font-size: 5rem;
  } 
  h2{
    font-size: 4rem;
  } 
  h3{
    font-size: 3rem;
  }

  .header2{
    font-size: 18px;
    padding: 16px;
  }

  table {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .btnmon{
     width :  25%;
  }
  
  #combos{
    width:95vw;
   }
  
  .moveimage{
  align-items: center;
  }
  
  .move-video{
    width : 100%;
    align-items: center;
  }

  #panel-basicinfo{
    width:stretch;
    /* padding:2px; */
    border-radius : 4px;
    margin: 0px;
    padding-top:2px;
    padding-bottom:2px;
  }
  
  .margin{
    margin: 4px;
  }
  .panel-row{
    /* box-shadow:0px 0px 0px 2px green inset; */
  }
  .panel-block{
    /* padding:2px; */
  }
  .panel-block-1{
    padding:2px;
    border-radius : 4px;
  }
.panel-block-1 + .panel-block-1{
  margin-left: 4px;
}
.panel-block-2 + .panel-block-2{
  margin-left: 4px;
}
  .panel-block-2{
    padding:2px;
    border-radius : 4px;
  }
  .panel-text{
     font-size: 14px;
  }
  .panel-text-bold{
     font-size: 14px;
  }
  .panel-text-title{
     font-size:  24px;
  }
  .panel-text-special{
    position: absolute; 
    text-align:right;
     top : 2px;
     right: 4px;
     font-size: 12px;
  }
  

  #layer2-grid{
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-area-main{    
    margin: 8px;
  }
  .grid-area-right{
    margin: 8px;
  }

  .flexboxrow{
    padding-top: 5px; 
    padding-bottom: 5px; 
  }  
  .flexitem{
    border-radius : 4px;
    padding : 4px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
   .combo-condition-text{
     font-size: 12px;
  }

  text{
    width:10px; 
    font-size: 10px;
  }
}


#page-content{
  padding:0px;
}

.header2{
  font-weight: bold;
  border-bottom: 1px solid rgb(199, 199, 199);
}

summary {
  outline: none;
}
summary::-webkit-details-marker {
  display: none
}
summary:after {
  content: "+";
  float: left;
  border-radius: 5px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 20px;
}


details[open] > summary:after {
    content: "-";
}

#panel-basicinfo{
  background-color: #4B9AFF;
}
.panel-row{
  display:flex; 
  flex-direction: row;
  align-items: stretch;
  justify-content:space-around;
}
.panel-block{
  flex: 1;
}
.panel-block-1{
  flex: 1;
  background-color: #FFFFFF;
}
.panel-block-2{
  flex: 1;
  background-color: #BDD5FF;
}
.panel-text{
  text-align:center;
  font-weight:normal;
}
.panel-text-bold{
  text-align:center;
  font-weight:bold;
}
.panel-text-title{
  text-align:center;
  font-weight:bold;
}

.panel-text-special{
  position: absolute; 
  text-align:right;
}
#monimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
#monicon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width:auto;
  max-width: 90%;
  height:auto;
}

th{
  background-color: #BDD5FF;
}

td{ 
  text-align: center;
  background-color: #FFFFFF;
}

table{
  background-color: #4B9AFF;
  padding: 2px;
  border-radius: 2px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.flexboxrow{
  display:flex; 
  flex-direction: row;
  align-items: center;
  position:relative;
  padding: 0px;
  /* box-shadow:0px 0px 0px 2px green inset; */
}
.flexboxcolumn{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  /* box-shadow:0px 0px 0px 2px blue inset; */
}
  .flexitem{
    display: flex;
    background-color: #BDD5FF;
    border: 1px solid #333;
    white-space:nowrap
  }
  .combo-condition-container-normal{
    border-radius : 10px;
  }
  .combo-condition-container{
    border: 4px dashed #C1C3C4;
    border-radius : 10px;
  }
  .combo-condition-text{
    top:0px;
    left:4px;
  }


#combos{
 position:relative;
 height:auto;
 overflow:auto;
 /* box-shadow:0px 0px 0px 2px black inset; */
}

#divmoves{
  width:100%;
}



 /*   SVG   */
svg{
 position: absolute;
 top: 0;
 left: 0;
 pointer-events: none;
 width : 100%;
 overflow-y:visible;
 overflow-x:visible;
}

line{
 position:absolute;
  stroke:#C1C3C4;
  stroke-width:2;
}

text{
 position:absolute;
 text-anchor : middle;
}
.svgTextSmaill{
 font-size: 12px;
}



button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.moveinfo{
 position:absolute;
 background-color: #DEDEDE; 
 top: 10%;
 left: 13%;
 width: 70%;
 padding: 2%;
}


