
/* desktops */
@media (min-width: 1200px) { 

  .header1{
    font-size: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 12px;
  }

  .header2{
    font-size: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 12px;
  }
  .header3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1140px;
    font-size: 18px;
    font-weight: bold;
  }

  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  #topbar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .topbarbtn {
    font-size: 20px;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 10px;
    padding-right : 10px;
  }
  .topbarlink{
    font-size: 20px;
  }

  #layer0{
    max-width: 1140px; 
    margin-left: auto;
    margin-right: auto;
  }
  #layer1{
    max-width: 1140px; 
    margin-left: auto;
    margin-right: auto;
  }


  #spacieslist{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .btnspacies{
    
  }
  .flex-1{
    font-size: 18px;
    height:80px;
  }
  .flex-2{
    font-size: 24px;
    height:120px;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #monlist{
    grid-template-columns: repeat(6, 1fr);
    /* border : 2px double black; */
  }
  .button-mon{
    /* width:72px;
    height:72px; */
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .image-button-mon-icon{
    width:80px;
    height:80px;
    border-radius: 8px;
  }
  .text-button-mon-name{
    font-size: 16px;
  }


  
  #panel-basicinfo{
    /* padding:4px; */
    padding-top:1px;
    padding-bottom:1px;
    border-radius : 4px;
    width: 100%;
  }
  
  #panel-moveinfo{
    top: 5%;
    left: 10%;
    width: 600px;
    padding:4px;
    border-radius : 4px;
   }
  .margin{
    margin: 4px;
  }
  #panel-row-title{
    height: 60px;
  }
  #panel-block-monicon{
    margin-right: 8px;
    flex:0; 
    width:56px; 
    height :56px; 
    align-items: center; 
    justify-content:center;
  }
  #monicon{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }
  .panel-block{
  }
  .panel-block-1{
    border-radius : 5px;
  }
  .panel-block-2{
    border-radius : 5px;
  }
  .panel-block-1 + .panel-block-1{
    margin-left: 4px;
  }
  .panel-block-2 + .panel-block-2{
    margin-left: 4px;
  }
  .panel-text{
     font-size: 14px;
  }
  .panel-text-small{
     font-size: 10px;
  }
  .panel-text-bold{
     font-size: 14px;
  }
  .panel-text-title{
     font-size: 22px;
  }
  .panel-text-special{
    position: absolute; 
    text-align:right;
     top : 5px;
     right: 10px;
     font-size: 10px;
  }
  .panel-text-icon{
    width:14px;
    height:14px;
    margin-right:2px;
  }

  
  #layer2-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-area-main{    
    /* padding-left:150px; */
    grid-column-start: 1;
    grid-row-start: 1; 
    padding-right:8px;
    /* margin: 8px; */
  }
  .grid-area-right{
    /* position: absolute; */
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 8px;
  }

  .description-text{
    margin:12px;
    font-size: 16px;
    line-height: 20px;
  }
  

  table {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .flexboxrow{
    padding-top: 10px; 
    padding-bottom: 10px; 
  }
  .flexitem{
    border-radius : 8px;
    padding : 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .moveimage{
    max-width:640px;
    width:auto;
    height:480;
  }  
  text{
    width:10px; 
    font-size: 16px;
  }

  .reference-link{
    font-size: 16px;
    }
}
