

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}



html, body {
  height: 100%;
  margin: 0;
}

body{
  min-height: calc(100% - 100px); /*減去footer高度*/
}
.wrapper {
  min-height: 100%;
  margin-bottom: 50px;
}
footer{
  height: 100px; /*設定footer本身高度*/
  background-color: #31363D;
}


var{
  display:none; 
}

#page-content{
  padding:0px;
}

.header1{
  font-weight: bold;
  text-align: center;
  font-family: montserrat;
  color : #353535;
}
.header2{
  font-weight: bold;
  border-bottom: 1px solid rgb(199, 199, 199);
}


#topbar {
  display:flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #31363D; 
  z-index : 1;
  margin-bottom: 12px;
}

.topbarlink{
  color : white;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbarbtn {
  border: none;
  background-color: #333; 
  color: white;
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 10px;
  padding-right : 10px;
}

#spacieslist{
  display:  grid;
  justify-content:center;
  margin: 8px;
}
.btnspacies{
  white-space:nowrap;
  flex-grow : 0;
  word-wrap: normal;
  margin: 6px;
  padding-top : 20px;
  padding-bottom : 20px;    
  background-color:  #E5E5E5;
  border: none;
  border-radius: 6px;
  color : 31363D;
}
.flex-1{

}
.flex-2{
  grid-column-start: 1;
  grid-column-end: 3;
}



#monlist{
  display: grid;
  /* border : 2px double black; */
}
.button-mon{
  border-radius: 8px;
  border: none;
  background-color: #E5E5E5;
}
.image-button-mon-icon{
  margin-left:auto;
  margin-right:auto;
}
.text-button-mon-name{
  text-align: center;
}

summary {
  outline: none;
}
summary::-webkit-details-marker {
  display: none
}
summary:after {
  content: "+";
  float: left;
  border-radius: 5px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 20px;
}


details[open] > summary:after {
    content: "-";
}

#panel-basicinfo{
  background-color: #4B9AFF;
}

#panel-moveinfo{
  position:absolute;
  background-color: #4B9AFF;
  box-shadow: 0px 0px 8px #969696;
 }
.panel-row{
  display:flex; 
  flex-direction: row;
  align-items: stretch;
  justify-content:space-around;
}
.panel-block{
  flex: 1;
}
.panel-block-1{
  flex: 1;
  background-color: #FFFFFF;
}
.panel-block-2{
  flex: 1;
  background-color: #BDD5FF;
}
.panel-text{
  text-align:center;
  font-weight:normal;
}
.panel-text-bold{
  text-align:center;
  font-weight:bold;
}
.panel-text-title{
  text-align:center;
  font-weight:bold;
}

.panel-text-special{
  position: absolute; 
  text-align:right;
}
#monimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 80%;
  max-height: 30vh;
}
#monicon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width:auto;
  max-width: 90%;
  height:auto;
}


  
  .moveinfo-video{
    width :50%;
    align-items: center;
  }

th{
  background-color: #BDD5FF;
}

td{ 
  text-align: center;
  background-color: #FFFFFF;
}

table{
  background-color: #4B9AFF;
  padding: 2px;
  border-radius: 2px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.flexboxrow{
  display:flex; 
  flex-direction: row;
  align-items: center;
  position:relative;
  padding: 0px;
  /* box-shadow:0px 0px 0px 2px green inset; */
}
.flexboxcolumn{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  /* box-shadow:0px 0px 0px 2px blue inset; */
}
  .flexitem{
    display: flex;
    background-color: #BDD5FF;
    border: 1px solid #333;
    white-space:nowrap
  }
  .combo-condition-container-normal{
    border-radius : 10px;
  }
  .combo-condition-container{
    border: 4px dashed #C1C3C4;
    border-radius : 10px;
  }
  .combo-condition-text{
    top:0px;
    left:4px;
  }


#combos{
 position:relative;
 height:auto;
 overflow:auto;
 /* box-shadow:0px 0px 0px 2px black inset; */
}

#divmoves{
  width:100%;
}



 /*   SVG   */
svg{
 position: absolute;
 top: 0;
 left: 0;
 pointer-events: none;
 width : 100%;
 overflow-y:visible;
 overflow-x:visible;
}

line{
 position:absolute;
  stroke:#C1C3C4;
  stroke-width:2;
}

text{
 position:absolute;
 text-anchor : middle;
}
.svgTextSmaill{
 font-size: 12px;
}



button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


.moveinfo{
 position:absolute;
 background-color: #DEDEDE; 
 top: 10%;
 left: 13%;
 width: 70%;
 padding: 2%;
}


