
html {
  font-size: 1vw;
}

td{ text-align: center;}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

var{
  display:none; 
}

#topbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #333; 
  z-index : 1;
  margin-bottom: 40px;
}

.topbarbtn {
  border: none;
  background-color: #333; 
  color: white;
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 10px;
  padding-right : 10px;
}

.btnspacies{
  width :  20%;
  padding-top : 20px;
  padding-bottom : 20px;    
  margin-right: 0px;
}
.btnmon{
  width :  20%;
  padding-top : 20px;
  padding-bottom : 20px;
}



@viewport {
  width: device-width ;
  zoom: 1.0 ;
}



/* desktops */
@media (min-width: 1200px) { 

   button {
    font-size: 1rem;
  }

  
  .panel-block{
    margin: 5px;
  }
  .panel-block-1{
    margin: 5px;
    border-radius : 5px;
  }
  .panel-block-2{
    margin: 5px;
    border-radius : 5px;
  }
  .panel-text{
     font-size: 1rem;
  }
  .panel-text-bold{
     font-size: 1rem;
  }
  .panel-text-title{
     font-size: 1.5rem;
  }
  
  
  #layer2-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .grid-area-main{    
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .grid-area-right{
    grid-column-start: 2;
    grid-row-start: 1;
  }
  
  .moveimage{
    max-width:640px;
    width:auto;
    height:480;
    align-items: center;
  }  
}


/* phones */
@media (max-width: 1199.98px) { 

  table {
    width: 100%;
  }

  .btnmon{
     width :  25%;
  }
  

  
  .moveimage{
  align-items: center;
  }
  
  .move-video{
    width : 100%;
    align-items: center;
  }

  .panel-block{
    margin: 0.5vw;
  }
  .panel-block-1{
    margin: 0.5vw;
    border-radius : 2vw;
  }
  .panel-block-2{
    margin: 0.5vw;
    border-radius : 2vw;
  }
  .panel-text{
     font-size: 3rem;
  }
  .panel-text-bold{
     font-size:  3rem;
  }
  .panel-text-title{
     font-size:  6rem;
  }
   .combo-condition-text{
     font-size: 1rem;
  }

  #panel-basicinfo{
    width:stretch;
    padding:0vw;
  }
  

 #layer2-grid{
    display: grid;
    grid-template-columns: 1fr;
  }

}




#panel-basicinfo{
  background-color: #4B9AFF;
  padding:0.5vw;
  border-radius : 0.5vw;
}
.panel-row{
  display:flex; 
  flex-direction: row;
  align-items: stretch;
}
.panel-block{
  flex: 1;
}
.panel-block-1{
  flex: 1;
  background-color: #FFFFFF;
}
.panel-block-2{
  flex: 1;
  background-color: #BDD5FF;
}
.panel-text{
  text-align:center;
  font-weight:normal;
}
.panel-text-bold{
  text-align:center;
  font-weight:bold;
}
.panel-text-title{
  text-align:center;
  font-weight:bold;
}
#monimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: 30vh;
}


.flexboxrow{
  display:flex; 
  flex-direction: row;
  align-items: center;
  padding-top: 10px; 
  padding-bottom: 10px; 
  position:relative;
}
.flexboxcolumn{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
  /*border: 1px solid #333;*/
}
  .flexitem{
    display: flex;
    background-color: #BDD5FF;
    border: 1px solid #333;
    border-radius : 10px;
    margin-left: 2vw;
    margin-right: 2vw;
    padding : 5px;
  }
  .combo-condition-container-normal{
    border-radius : 10px;
  }
  .combo-condition-container{
    border: 4px dashed #C1C3C4;
    border-radius : 10px;
  }
  .combo-condition-text{
    top:0px;
    left:4px;
  }


#combos{
 /*position:relative;*/
 height:auto;
 width:100%;
}



 /*   SVG   */
svg{
 position:absolute;
 top: 0;
 left: 0;
 pointer-events: none;
 width : 100%;
 overflow-y:visible;
 overflow-x:visible;
}

line{
 position:absolute;
  stroke:#C1C3C4;
  stroke-width:2;
}

text{
 position:absolute;
 text-anchor : middle;
 width:10px; 
 font-size: 2rem;
}
.svgTextSmaill{
 font-size: 12px;
}



button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.moveinfo{
 position:absolute;
 background-color: #DEDEDE; 
 top: 10%;
 left: 13%;
 width: 70%;
 padding: 2%;
}


