
/* desktops */
@media (min-width: 1200px) { 
  #header{
    width: 1140px; 
    margin-left: auto;
    margin-right: auto;
  }
  .header1{
    font-size: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 12px;
  }

  .header2{
    font-size: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 12px;
  }
  .header3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1140px;
    font-size: 18px;
    font-weight: bold;
  }
  .layout-main{
    width: 1140px; 
    margin-left: auto;
    margin-right: auto;
  }
  .layout-grid {
    grid-template-columns: 2fr 1fr;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .layout-grid-main {
    /* padding-left:150px; */
    grid-column-start: 1;
    grid-row-start: 1;
    padding-right: 8px;
    /* margin: 8px; */
  }
  .layout-grid-right {
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 8px;
  }


  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }




  
  .link-list{
    grid-template-columns: repeat(6, 1fr);
    /* border : 2px double black; */
  }
  .link-icon{
    width:40px;
    height:40px;
    border-radius: 8px;
  }
  .link-text{
    font-size: 16px;
  }

 

  .description-text{
    margin:12px;
    font-size: 16px;
    line-height: 20px;
  }
  


  .flexboxrow{
    /* padding-top: 10px; 
    padding-bottom: 10px;  */
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .flexitem{
    border-radius : 8px;
    padding : 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .moveimage{
    max-width:640px;
    width:auto;
    height:480px;
  }  
  text{
    width:10px; 
    font-size: 16px;
  }

  .reference-link{
    font-size: 16px;
    }
}
