

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}



html, body {
  height: 100%;
  margin: 0;
}

body{
  min-height: calc(100% - 100px); /*減去footer高度*/
}
#wrapper {
  display: none;
  min-height: 100%;
  margin-bottom: 50px;
}
footer{
  height: 100px; /*設定footer本身高度*/
  background-color: #31363D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text{
  text-align: center;
  color:white;
  font-size: 12px;
}

button{
  outline:none;
}

var{
  display:none; 
}

#page-content{
  padding:0px;
}

.header1{
  font-weight: bold;
  text-align: center;
  font-family: montserrat;
  color : #353535;
}
.header2{
  font-weight: bold;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.header3{
  font-weight: bold;
  color:#31363D;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.layout-main{
  
}
.layout-grid {
  display: grid;
}
.layout-grid-right {
}

.description-image-container{
  margin: 16px;
}

.description-image{
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.description-image-text{
  text-align: center;
  font-size: 14px;
  color: rgb(49, 61, 167);
}





.link-list{
  display: grid;
  grid-gap: 12px;
}
.link-button{
  border-radius: 8px;
  border: none;
  background-color: #E5E5E5;
  padding: 8px;
}
.link-icon{
  margin-left:auto;
  margin-right:auto;
}
.link-text{
  text-decoration: none;
  text-align: center;
}


summary {
  outline: none;
}
summary::-webkit-details-marker {
  display: none
}
summary:after {
  content: "+";
  float: left;
  border-radius: 5px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 20px;
}


details[open] > summary:after {
    content: "-";
}


.card {
  background-color: #4b9aff;
  padding: 4px;
}
#mon-card-title-row{
  height:60px;
}
#mon-card-icon-background {
  width: 60px;
  background-color: #eeeade;
}
#mon-card-icon{
  width: 100%;
  height: 100%;
}
.rounded {
  border-radius: 4px;
}
.rounded-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rounded-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.color1 {
  background-color: #bdd5ff;
}
.color2 {
  background-color: #ffffff;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.margin {
  margin: 4px;
}

.interval-y + .interval-y {
  margin-top: 4px;
}
.interval-x + .interval-x {
  margin-left: 4px;
}
.card-text {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-family: montserrat;
  padding-top: 2px;
  padding-bottom: 2px;
}  
.card-text-icon{
  display: inline-block;
  width:14px;
  height:14px;
  margin-right:2px;
}
.special-align-right{
  position: absolute; 
  text-align:right;
   top : 2px;
   right: 4px;
}
.text-large {
  font-size: 22px !important;
}
.text-small {
  font-size: 12px !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-center{
  text-align:center;
}
.text-nowrap{
  white-space:nowrap;
}
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  max-height: 30vh;
}
.icon-background {
  height: 40px;
  width: 40px;
  background-color: #eeeade;
}




.flexboxrow{
  display:flex; 
  flex-direction: row;
  align-items: center;
  position:relative;
  padding: 0px;
  /* box-shadow:0px 0px 0px 2px green inset; */
}
.flexboxcolumn{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  /* box-shadow:0px 0px 0px 2px blue inset; */
}
  .flexitem{
    /* display: flex; */
    background-color: #BDD5FF;
    border: 1px solid #333;
    white-space:nowrap
  }
  .combo-condition-container-normal{
    border-radius : 10px;
    padding-left: 10px;
  }
  .combo-condition-container{
    border: 4px dashed #C1C3C4;
    border-radius : 10px;
    padding-left: 10px;
  }
  .combo-condition-text{
    text-align: center;
    top:0px;
    /* left:4px; */
  }
  .movebutton-name{
    pointer-events: none;
  }
.movebutton-tag{
  pointer-events: none;
  background-color: #ffcf91;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
}

#divmoves{
  width:100%;
}


#reference{
display: grid;
}
.reference-link{
/* display: block; */
/* font-size: 10px; */
}


